extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)

  .container.my-5.page
    .col-sm-12.login-page
      .col-sm-5.main-login
        .col-sm-12
          h1(class="text-center my-5") Đăng nhập tài khoản
          form(
            action="/user/login"
            method="POST"
          )
            div(class="form-group")
              label(for="email") Email
              input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              )
            div(class="form-group")
              label(for="password") Mật khẩu
              input(
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              )
            .col-sm-12.d-flex.align-items-center.justify-content-between
              div(class="form-group")
                button(
                  type="submit"
                  class="btn btn-primary btn-block rounded-pill"
                ) Đăng nhập
      .col-sm-7
        .background-login           
          img(src="../img/loginImg.jpg", alt="", class="login-image")