mixin info-config(user)
    .row
        .col-sm-12
            .info-config
                h5 Hồ sơ của tôi
                p Quản lý thông tin hồ sơ để bảo mật tài khoản
    form(enctype="multipart/form-data",class="form-info")
        fieldset(disabled)
            .row
                .col-sm-8
                    .row.mb-3
                        label.col-sm-4.col-form-label(for='username') Họ tên
                        .col-sm-8
                            input#username.form-control(type='text', name="fullName", value=user.fullName)
                    .row.mb-3
                        label.col-sm-4.col-form-label(for='email') Email
                        .col-sm-8
                            input#email.form-control(type='text', value=user.email,name="email")
                    .row.mb-3
                        label.col-sm-4.col-form-label(for='phone-number') Số điện thoại
                        .col-sm-8
                            input#phone-number.form-control(type='text', name="phone", value=user.phone)
                    .row.mb-3
                        label.col-sm-4.col-form-label(for='faculty') Khoa
                        .col-sm-8
                            input#phone-number.form-control(type='text', name="faculty", value=user.faculty)
                    .row.mb-3
                        label.col-sm-4.col-form-label(for='pagenum') Số trang hiện tại
                        .col-sm-8
                            input#username.form-control(type='text', name="pagenum", value=user.numberOfPage)
    .row.mb-3
        .col-sm-4
        .col-sm-8
            a(href="/buy")
                button.btn.btn-primary(type='submit') Mua thêm trang